## 成绩统计项目

## Pandas中的排序与层次化索引

### 排序

In [12]:
import pandas as pd
import numpy as np
obj = pd.Series(range(4), index=['d','a','b','c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [3]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [4]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

In [5]:
obj.sort_values(ascending=False)

c    3
b    2
a    1
d    0
dtype: int64

In [6]:
frame = pd.DataFrame({'b':[4,7,-3,2], 'a':[0,1,0,1]}, index=list('abcd'))
frame

   b  a
a  4  0
b  7  1
c -3  0
d  2  1

In [7]:
frame.sort_index()

   b  a
a  4  0
b  7  1
c -3  0
d  2  1

In [9]:
frame.sort_values(by='a')

   b  a
a  4  0
c -3  0
b  7  1
d  2  1

In [10]:
frame.sort_values(by='b')

   b  a
c -3  0
d  2  1
a  4  0
b  7  1

In [11]:
frame.sort_values(by=['a','b'])

   b  a
c -3  0
a  4  0
d  2  1
b  7  1

### 层次化索引

In [15]:
data = pd.Series(np.random.randn(10),
                index=[['a','a','a','b','b','b','c','c','d','d'],
                [1,2,3,1,2,3,1,2,2,3]])
data

a  1   -1.102807
   2   -0.530191
   3    0.772025
b  1    0.112348
   2    1.440172
   3   -1.384821
c  1   -0.422172
   2   -0.072555
d  2    0.129959
   3   -1.055333
dtype: float64

In [16]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [17]:
data.unstack()

          1         2         3
a -1.102807 -0.530191  0.772025
b  0.112348  1.440172 -1.384821
c -0.422172 -0.072555       NaN
d       NaN  0.129959 -1.055333

In [19]:
type(data.unstack())

pandas.core.frame.DataFrame

In [18]:
data.unstack().stack()

a  1   -1.102807
   2   -0.530191
   3    0.772025
b  1    0.112348
   2    1.440172
   3   -1.384821
c  1   -0.422172
   2   -0.072555
d  2    0.129959
   3   -1.055333
dtype: float64

### 项目

In [ ]:
score_level_data = total_score.loc